.nav-bar
{
	position: sticky;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	
	background-color: #3399ff;
	
	padding: 25px;
	
	min-height: 150px;
	width: 100%;
	
	align-items: center;
	justify-content: flex-end;
}

.nav-collapse
{
	margin-right: auto;
	align-items: center;
}

.nav-list
{
	align-items: center;
}

.nav-logo
{
	display: inline-block;
	cursor: pointer;
	
	margin: auto;
	max-width: 100%;
	height: auto;
}

.nav-menu
{
	display: none;
	padding: 5px;
	cursor: pointer;
}

.nav-cart
{
	display: none;
	padding: 5px;
	cursor: pointer;
}

.nav-hidden
{
	display: none;
}

.nav-button
{
	display: inline-block;
	padding: 25px;
	
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	
	text-align: center; 
	text-decoration: none;
	text-transform: uppercase;
	
	background-color: #3399ff;
	
	transition: background-color 0.25s ease-out;
}

.nav-button:hover, .nav-button:focus
{
	background-color: #0066cc;
}

@media all and (max-width: 1150px)
{
  .nav-bar
  {
	flex-direction: column;
	height: auto;
  }
  
  .nav-collapse
  {
	flex-direction: row;
	width: 100%;
  }
  
  .nav-list
  {
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
  }
  
  .nav-logo
  {
	margin: auto;
  }
}

@media all and (max-width: 775px)
{
  .nav-bar
  {
	padding: 0;
  }
  
  .nav-collapse
  {
	margin-top: 25px;
	margin-bottom: 25px;
  }
  
  .nav-menu, .nav-cart
  {
	display: inline-block;
  }
  
  .nav-button
  { 
	padding: 10px;
	width: 100%;
    text-align: center; 
	
    border-top: 2px solid rgba(255, 255, 255,0.3); 
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
  }
}


/*
__________________________________
Citations
__________________________________

Validated for errors using https://validator.w3.org/ and http://jigsaw.w3.org/css-validator/

Fonts retrevied from
Default Font Libraries

Products images and text retrevied and used with permission from
https://limitedrungames.com/

Site design and layout inspired by
https://limitedrungames.com/

Checkout design and layout inspired by
https://www.shopify.ca/

Navigation SVG elements retrevied from
https://www.iconfinder.com/

https://www.iconfinder.com/icons/134216/hamburger_lines_menu_icon
https://www.iconfinder.com/icons/216477/cart_shopping_icon
https://www.iconfinder.com/icons/186410/arrow_left_previous_icon
https://www.iconfinder.com/icons/186409/arrow_next_right_icon
__________________________________
Knowledge Base And Resources
__________________________________

IAT 339 Lecture 1 & Live Demo

IAT 339 Lecture 2 & Live Demo

IAT 339 Lecture 3 & Live Demo

IAT 339 Lecture 4 & Live Demo

IAT 339 Lecture 5 & Live Demo

IAT 339 Lecture 6 & Live Demo

IAT 339 Lecture 7 & Live Demo

IAT 339 Week 1 Lab Challenge

IAT 339 Week 2 Lab Challenge

IAT 339 Week 3 Lab Challenge

IAT 339 Week 5 Lab Challenge

https://css-tricks.com/snippets/css/a-guide-to-flexbox/

https://css-tricks.com/star-ratings/

https://codepen.io/team/css-tricks/pen/EKEYob

https://codepen.io/team/css-tricks/pen/YqaKYR

https://codepen.io/anon/pen/VKxRoE

https://www.qhmit.com/css/flexbox/tutorial/flexbox_introduction.cfm

https://www.qhmit.com/css/flexbox/tutorial/create_a_flexible_box.cfm

https://www.qhmit.com/css/flexbox/tutorial/create_a_website_layout_with_flexbox.cfm

https://www.qhmit.com/css/flexbox/tutorial/nested_flex_containers.cfm

https://www.qhmit.com/css/flexbox/tutorial/create_a_responsive_flexbox_layout.cfm

https://www.qhmit.com/css/flexbox/tutorial/align_form_elements_with_flexbox.cfm

https://www.qhmit.com/css/flexbox/tutorial/create_a_media_object_with_flexbox.cfm

https://www.qhmit.com/css/flexbox/tutorial/flexbox_alignment.cfm

https://www.qhmit.com/css/flexbox/tutorial/flexbox_direction.cfm

https://www.w3schools.com/html/html_lists.asp

https://www.w3schools.com/html/html_forms.asp

https://www.w3schools.com/colors/colors_picker.asp

https://www.w3schools.com/css/css_margin.asp

https://www.w3schools.com/css/css_border.asp

https://www.w3schools.com/css/css_align.asp

https://www.w3schools.com/css/css_form.asp

https://www.w3schools.com/cssref/pr_text_text-decoration.asp

https://www.w3schools.com/cssref/pr_font_weight.asp

https://www.w3schools.com/cssref/pr_font_font-size.asp

https://www.w3schools.com/cssref/pr_font_font-family.asp

https://www.w3schools.com/cssref/pr_class_cursor.asp

https://www.w3schools.com/cssref/css3_pr_resize.asp

https://www.w3schools.com/cssref/css3_pr_word-wrap.asp

https://www.w3schools.com/cssref/pr_pos_overflow.asp

https://www.w3schools.com/tags/att_style_type.asp

https://www.w3schools.com/tags/ref_pxtoemconversion.asp

https://www.w3schools.com/howto/howto_css_images_side_by_side.asp

https://www.w3schools.com/howto/howto_css_two_columns.asp

https://www.w3schools.com/howto/howto_js_media_queries.asp

https://www.w3schools.com/howto/howto_css_star_rating.asp

__________________________________
YouTube Tutorials
__________________________________

https://www.youtube.com/watch?v=HV7DtH3J2PU

https://www.youtube.com/watch?v=H4MkGzoACpQ

https://www.youtube.com/watch?v=v1PeTDrw6OY

https://www.youtube.com/watch?v=ObWe1F-t0f4

https://www.youtube.com/watch?v=zGiirUiWslI

https://www.youtube.com/watch?v=moBhzSC455o

https://www.youtube.com/watch?v=qlA7dputiNc

https://www.youtube.com/watch?v=Wm6CUkswsNw

https://www.youtube.com/watch?v=zyNhxN6sToM

https://www.youtube.com/watch?v=3bltfKyHG50

https://www.youtube.com/watch?v=xoRbkm8XgfQ

https://www.youtube.com/watch?v=djbtPnNmc0I

https://www.youtube.com/watch?v=-Wlt8NRtOpo

https://www.youtube.com/watch?v=0e02dl66PYo

https://www.youtube.com/watch?v=siKKg8Y_tQY

https://www.youtube.com/watch?v=RdlEEfx912M

https://www.youtube.com/watch?v=dMK_3lH1YPo

https://www.youtube.com/watch?v=JJSoEo8JSnc

https://www.youtube.com/watch?v=hwbqquXww-U

https://www.youtube.com/watch?v=4Oi5xpjoCRk

https://www.youtube.com/watch?v=JqJNhM8i-nc

https://www.youtube.com/watch?v=k32voqQhODc

https://www.youtube.com/watch?v=VYsVOamdB0g

https://www.youtube.com/watch?v=gBzsE0oieio

https://www.youtube.com/watch?v=uyaV_EWWRmo

https://www.youtube.com/watch?v=-2LtZRi6Q0s

https://www.youtube.com/watch?v=FTlczfR82mQ

https://www.youtube.com/watch?v=fqNPSSoMO9Y

https://www.youtube.com/watch?v=PwWHL3RyQgk

https://www.youtube.com/watch?v=ex7jGbyFgpA

https://www.youtube.com/watch?v=3RRgVHd2TXQ

https://www.youtube.com/watch?v=wpGNFGqNfdU

https://www.youtube.com/watch?v=6pidsgeLLzE

https://www.youtube.com/watch?v=gXkqy0b4M5g

https://www.youtube.com/watch?v=oLgtucwjVII

https://www.youtube.com/watch?v=tEC4kqzNTnM

https://www.youtube.com/watch?v=_7GC6i7ylDI
___________________________
*/